@model PhotoSharingApplication.Models.Comment

@Html.ValidationSummary(true)
<div class="add-comment-tool">
    <div>
        <span class="editor-label">
            Subject:
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Subject)
        </span>
    </div>
</div>
<div>
    <span class="editor-label">
        Body:
    </span>
    <span class="editor-field">
        @Html.EditorFor(model => model.Body)
    </span>
    <input type="submit" value="Create" />
</div>

